.ChartsContainer{
    width: 100%;
    height: 440px;
    margin-left: 260px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.ChartOne{
    margin-left: 30px;
    width: 55%;
    height: 440px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 30px;
}
.ChartTwo{
    width: 27%;
    height: 440px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 30px;
}

@media screen and (max-width: 1200px) {
    .ChartsContainer{
        flex-direction: column;
        height: auto;
        margin-left: 0px;
    }
    .ChartOne, .ChartTwo{
        width: 70%;
        margin-left: 300px;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
}

.ChartOneTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 70px;
    padding: 20px;
}
.ChartOneName{
    font-weight: 600;
    font-size: 18px;
}
.ChartOneDateButtons{
    display: flex;
    align-items: center;
    gap: 10px;
}
