.ChartsContainer{
    width: 1220px;
    height: 440px;
    margin-left: 260px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.ChartOne{
    margin-left: 30px;
    width: 750px;
    height: 440px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 30px;
}
.ChartTwo{
    width: 390px;
    height: 440px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 30px;
}
.ChartOneTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 70px;
    padding: 20px;
}
.ChartOneName{
    font-weight: 600;
    font-size: 18px;
}
.ChartOneDateButtons{
    display: flex;
    align-items: center;
    gap: 10px;
}
