.header {
    background-color: white;
    background-size: contauin;
    display: flex;
    height: 80px;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    margin-left: 260px;
    width: 100%;

}


.input {
    background-color: white;
    margin-top: 15px;
    margin-left: -5px;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    padding-left: 40px;
    border: 1px solid lightgrey;
    font-size: 16px;
    outline: none;
    color: black;
}

.search-icon {
    position: relative;
    left: 30px;
    top: 7px;
    color: rgb(182, 182, 182);
}

.bell-icon {
    position: relative;
    top: 5px;
    left: 107vh;
    color: rgb(182, 182, 182);
    cursor: pointer;
    justify-content: end;
}


.fiol {
    background-color: rgb(104, 43, 226);
    width: 10px;
    height: 10px;
    border-radius: 40px;
    position: relative;
    top: -50px;
    left: 1400px;
}