.TableContainer{
    padding: 30px;
    margin-left: 260px;
}
.Table{
    background-color: white;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 30px;
}
.TableTitle{
    border-bottom: 1px solid lightgray;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.TableName{
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.SeeAllButton{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #7341ff;
    font-size: 15px;
    gap: 5px;
}
table{
    border-collapse: collapse;
}
.TableCategory{
    color: #999999;
    background-color: #f5f5f5;
    height: 40px;
    border-bottom: 1px solid lightgray;
}
th{
    padding: 15px 169px 15px 0px;
    font-weight: 400;
}
.thName{
    padding: 15px 420px 15px 20px;
    width: 100%;
}
tbody{
    color: black;
}
tr{
    border-top: 1px solid lightgray;
    height: 70px;
}
tr:hover{
    background-color: #f5f5f5;
}
.StatusCompleted{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcfce7;
    color: #166534;
;
    height: 25px;
    border-radius: 50px;
    font-size: 13px;
}
.NameSection{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
    gap: 10px;
}
.TableIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 30px;
    background-color: #c8e0ff;
}
td{
    font-size: 15px;
    font-weight: 400;
}
.TableNameCategory{
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.TableNameSubcategory{
    font-size: 12px;
}
.BgGreen{
    background-color: #dcfce7;
}
.BgPurple{
    background-color: #f3e8ff;
}
.BgYellow{
    background-color: #fef9c3;
}
.BgRed{
    background-color: #fee2e2;
}