#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}
body{
    background-color: #f5f5f5;
    height: fit-content;
    min-height: 100vh;
}