* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body{
    background-color: #f5f5f5;
    height: fit-content;
    min-height: 100vh;
}
